/* Defult css */
*{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
body h1 h2 h3{
    font-family: 'Merriweather', serif;
}
#btn {
    padding: 14px 50px;
    background-image: linear-gradient( orange, red);
    color: #ffff;
    text-decoration: none;
    font-size: 20px;
    border-radius: 20px;
    
}

/* Main Headar Section css */

.main-headar{
    display: flex;
    margin-left: 5%;
}
.hedar-text{
    width: 45%;
}
.hedar-text h1 {
    font-size: 65px;
    margin-top: 50px;
    font-weight: 800;
}
.hedar-text h1 span {
    color: orange;
    font-size: 80px;
}
.hedar-text p {
    font-size: 20px;
    margin: 60px 0;
}
.hedar-image{
    width: 45%;
    margin-left: 5%;
}

/* My About Section css */

.about-section{
    background-image: url(photo/about-bg-2.png);
    margin-top: 50px;
}
.about-me{
    display: flex;
}
.about-image{
    width: 45%;
    margin-left: 5%;
}
.about-image img{}
.about-text{
    width: 45%;
    margin-left: 5%;
}
.about-text h1 {
    font-size: 51px;
    
    margin-top: 80px;
}
.about-text p {
    width: 400px;
    padding: 50px 0;
    text-align: justify;
}

/* Produck about css section */
.produck-about{}
.produck-text{
    text-align: center;
    padding: 30px 0;
}
.produck-text h1{
    font-size: 30px;
}
.produck-text p{
    width: 400px;
    margin: auto;
    margin-top: 10px;
    text-align: justify;   
}
/* produck item section */

.produck{
    display: flex;
    margin-left: 5%;
   margin: 50px 0;
}
.produck-item{
    width: 28%;
    box-shadow: 1px 6px 20px rgb(0, 0, 0, .6);
    margin-left: 3% ;
    margin-right: 2%;
    padding: 15px;
    border-radius: 15px;
    
}
.produck-item h1{
    padding: 10px 0;
}
.produck-item p{
width: 250px;
}

